<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CoffeeGram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="/"><img src="\images\favicon.ico" alt="CoffeeGram" width="30" height="30"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
