<% include partials/header %>
<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to CoffeeGram</h1>
      <p>The only website that allows you to show affection towards your favourite cup of coffee</p>
      <a class="btn btn-primary btn-large" href="/coffees/new">Add new Camp Site</a>
    </div>
  </div>
  <div class="row" >
    <% coffees.forEach((coffee)=>{%>
      <div class="col-md-3 col-sm-6 ">
        <figure class="figure">
          <img src="<%= coffee.image %>" class="indexImage figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption"><h4><%= coffee.name %></h4></figcaption>
        </figure>
        <p>
          <a href="/coffees/<%= coffee._id %>" class="btn btn-primary">More Info</a>
        </p>
      </div>
    <%});%>

  </div>

</div>
<% include partials/footer %>
