<% include partials/header %>

<div class="container">
  <h1 id="formTitle">Create a new campsite</h1>
  <form action="/index" method="post">
    <div class="rows">
      <div class="form-group">
        <label for="campSiteName">Camp Site name</label>
        <input type="text" class="form-control" id="campSiteName" name="name" aria-describedby="campHelp" placeholder="Enter Camp site name">
      </div>
      <div class="form-group">
        <label for="imageURL">Image URL</label>
        <input type="text" class="form-control" id="imageURL" name="image" aria-describedby="urlHelp" placeholder="Enter image url of Camp site">
        <small id="urlHelp" class="form-text text-muted">Image url must be in a certain format.</small>
      </div>
      <div class="form-group">
        <label for="campsiteDescription">Camp Site description</label>
        <textarea class="form-control" id="campsiteDescription" rows="5" name="description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-outline-success btn-block">Submit</button>
      </div>
      <a href="/index">Back</a>
    </div>
  </form>
</div>

<% include partials/footer %>
